body {background-color: darkkhaki}

h1 {text-align: center}

#app-container {
    width: 320px;
    height: 400px;

    margin: 0 auto;
        
    border: 3px solid black;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);

    grid-template-areas: 
        "display-container display-container display-container display-container"
        "clear clear div tim"
        "number number number subtract"
        "number number number plus"
        "number number number equals"
        "zero zero decimal equals";
}

button {
    font-size: 20px;
}

#display-container {
    grid-area: display-container;
    background-color: black;
    text-align: right;
}
#display {
    height: 60%;
    width: 100%;
    font-size: 30px;
}
#calculation-display {
    height: 40%;
    width: 100%;
    color: gray;
}

#clear {
    grid-area: clear;
} 

#zero {
    grid-area: zero;
}

 #decimal {
    grid-area: decimal;
 }

 #equals {
     grid-area: equals;
 }

 #numberButtons {
     grid-area: number;

     display: grid;
     grid-template-columns: repeat(3, 1fr);
 }

 .button {
     border: 1px solid black;
     background-color: darkgrey;
     display:grid;
     align-items: center;
     text-align: center;
 }

 .number {
     background-color: gray;
 }

 .button:hover{
    border: 1px solid wheat;
    color: black;
 }