body {
    background: #708090;
    font-family: 'Open Sans', sans-serif
}

#main {
    width: 100vw;
    height: 100vh;
    display: grid;
}

.container {
    height: 600px;
    width: 1000px;
    border: 1px solid black;
    margin: auto;
    background-color: #fff;
    box-shadow: 2px 2px 20px;
}

#chart {
    height: 500px;
    width: 800px;
    padding-left: 10px;
}


.bar:hover {
    fill: white;
}

#tooltip {
    padding: 5px;
    position: absolute;
    background-color: #c5ccd3;
    text-align: center;
    box-shadow: 2px 2px 20px;
}